@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #ADCED2;
  color: #1B071D;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
}
a, a:visited{
color:#6EAD5D;
}

a:hover{
color:#42D152;
}

h1 {

  font-size: 5em;
}

h2 {font-size: 3em;

}

h4 {font-size: 1.5em;
margin-top: 0;

}

dt {
	font-size: 2em;
	font-weight: bold;
}
